@import '../../variables.css';
.title1 {
    color: #232428;
}

.lead {
    color: #232428;
}

.body-content {
    background-image: url('../../assets/BG1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

p, h3 {
    font-family: 'Poppins', sans-serif;
}

hr#about {
    height: 2px;
    width: 40px;
    border-width: 0;
    color: gray;
    background-color: gray;
    text-align: left;
    margin-left: 0;
    margin-right: 10px;
}

.pill-btn {
    border-radius: 4em;
}

.registerbtn {
    background-color: #2635a6;
}

.learnbtn {
    background-color: #4dccbd;
}